<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/departmentPage.css">

</head>
<body>
    <nav class="nav_container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo"/>
        </div>

        <ul class="nav_links" id="menuItem">
            <% if(locals.first_name){ %>
                <div class="profileImage mainProfile" onclick="toggleDropDown()" style="background-color: #F82249; border: 1px solid #F82249; padding-left: 8px; padding-right: 8px; border-radius: 50%;  cursor: pointer;">
                    <i class="fa fa-user" style="font-size: 18px;"></i>
                </div>

                <div id="dropdownList" class="dropdown-content" style="display: flex; flex-direction: column; align-items: center; background-color: #F82249; border-radius: 5px; display: none; width: 160px; position: absolute; right: 10px; top: 70px;">
                    <p style="text-align: center;cursor: pointer; padding: 5px 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #1993de;">Hello <%= first_name %></p>
                    <hr width="100%" color="black" style="opacity: 0.2;">
                    <p id="option1" style="text-align: center;cursor: pointer; padding: 5px 5px; ">Your Events</p>
                    <hr width="100%" color="black" style="opacity: 0.2;">
                    <p id="option2" style="cursor: pointer; padding: 5px 5px; width: 100%; text-align: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" onclick="document.location='/theevent/user/logout'">Logout</p>
                  </div> 
            <% }else{ %>
            <li><a href="/theevent/user/registration" class="signup">Sign Up</a></li>
            <li><a href="/theevent/user/login" class="signin">Sign In</a></li>
            <%}%>
        </ul>
        
        <div class="menu_item" id="menu_item" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
    </nav>


    <section class="eventsPage" style="padding-top: 100px;">
        <h1 style="font-size: 40px;"><%= departmentName %></h1>
        <h2 style="font-size: 20px;">Events and Activities</h2>
        <hr width="5%" size="5px" color="red" style="margin: auto; margin-top: 15px; margin-bottom: 15px;">

        <% if(eventNames.length > 0){ %>
        <div class="grid_container">
            <% for(i=0; i<eventNames.length; i++){ %>
            <div class="event" onclick="document.location='/theevent/user/event/<%= eventNames[i] %>'">
                <img src="/img/events/<%= eventIcons[i] %>" class="imageEvent">
                <h2 class="eventName"><%= eventNames[i] %> <br> <span style="font-size: 20px; font-weight: 400;"><%= eventTagline[i] %></span> </h2>
            </div>
            <% }  %>
            </div>
        </div>
        <% }else{ %>
            <div style="display: flex; justify-content: center; align-items: center; height: 400px;">
                <p style="font-size: 28px;">------------ No any events right now! ------------</p>
            </div>
            <% } %>
    </section>

    <footer class="footer">
        <p style="font-size: 16px;">© Copyright TheEvent. All Rights Reserved | Designed by A|M|D</p>
    </footer>
</body>

<script src="/js/departmentPage.js">

</script>

<script>
    function toggleDropDown(){
        if(document.getElementById("dropdownList").style.display == "none"){
            document.getElementById("dropdownList").style.display = "block";
        }
        else{
            document.getElementById("dropdownList").style.display = "none";
        }
    }
</script>
</html>