<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/departmentPage.css">

</head>
<body>
    <nav class="nav_container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo"/>
        </div>

        <ul class="nav_links" id="menuItem">
            <% if(locals.first_name){ %>
                <p class="signup" style="width: 150px; text-align: center; filter: drop-shadow(0px 0px 10px red)">Hello <%= first_name %></p>
            <% }else{ %>
            <li><a href="/theevent/user/registration" class="signup">Sign Up</a></li>
            <li><a href="/theevent/user/login" class="signin">Sign In</a></li>
            <%}%>
        </ul>
        
        <div class="menu_item" id="menu_item" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
    </nav>


    <section class="eventsPage" style="padding-top: 100px;">
        <h1 style="font-size: 40px;"><%= departmentName %></h1>
        <h2 style="font-size: 20px;">Events and Activities</h2>
        <hr width="5%" size="5px" color="red" style="margin: auto; margin-top: 15px; margin-bottom: 15px;">

        <% if(eventNames.length > 0){ %>
        <div class="grid_container">
            <% for(i=0; i<eventNames.length; i++){ %>
            <div class="event" onclick="document.location='/theevent/user/event/<%= eventNames[i] %>'">
                <img src="/img/events/<%= eventIcons[i] %>" class="imageEvent">
                <h2 class="eventName"><%= eventNames[i] %> <br> <span style="font-size: 20px; font-weight: 400;"><%= eventTagline[i] %></span> </h2>
            </div>
            <% }  %>
            </div>
        </div>
        <% }else{ %>
            <div style="display: flex; justify-content: center; align-items: center; height: 400px;">
                <p style="font-size: 28px;">------------ No any events right now! ------------</p>
            </div>
            <% } %>
    </section>

    <footer class="footer">
        <p style="font-size: 16px;">© Copyright TheEvent. All Rights Reserved | Designed by A|M|D</p>
    </footer>
</body>

<script src="/js/departmentPage.js">

</script>
</html>