<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/eventPage.css">

</head>
<body>

    <nav class="nav_container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo"/>
        </div>

        <ul class="nav_links" id="menuItem">
            <% if(locals.first_name){ %>
                <p class="signup" style="width: 150px; text-align: center; filter: drop-shadow(0px 0px 10px red)">Hello <%= first_name %></p>
            <% }else{ %>
            <li><a href="/theevent/user/registration" class="signup">Sign Up</a></li>
            <li><a href="/theevent/user/login" class="signin">Sign In</a></li>
            <%}%>
        </ul>
        
        <div class="menu_item" id="menu_item" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
    </nav>


    <section class="eventPage">
        <h1 style="font-size: 40px;"><%= eventName %></h1>
        <h2 style="font-size: 20px;"><%= eventTagline %></h2>
        <hr width="5%" size="5px" color="red" style="margin: auto; margin-top: 15px; margin-bottom: 15px;">

        <div class="details">
            <div style="height: 400px;" class="imgEvent"><img src="/img/events/<%= eventFlyer %>" alt="eventPicture" style="height: 100%; width: 100%;"></div>

            <div style="text-align: left;" class="writtenDetails"> 
                <h1 style="height: 25px; margin-bottom: 20px;">Details</h1>
                <p style="height: 300px; overflow-y: scroll; text-align: justify; padding-right: 20px; white-space: pre-line;"><%= eventDescription %>
                <br> <span style="font-weight: 700;">Venue:</span> <%= eventVenue %>
                <br> <span style="font-weight: 700;">Date:</span> <%= eventDate %>
                <br> <span style="font-weight: 700;">Time:</span> From <%= eventStartTime %> To <%= eventEndTime %>
                <br> <span style="font-weight: 700;">Registration Fees:</span> Rs.  <%= registrationFees %>
                <br> <span style="font-weight: 700;">Maximum limit of attendees:</span> <%= attendeesCapacity %></p>

                <% if(locals.clashWarning){ %>
                <% if(locals.register == "Register"){ %>
                    <div class="signin" id="rzp-button1" onclick="registerForEvent2('<%= eventName %>')" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px;">
                        <%= register %>
                    </div>
                <% }else{ %>
                    <div class="signin" disabled id="rzp-button1" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                        <%= register %>
                    </div>
                <% } %>
                <% }else{ %>
                    <% if(locals.register == "Register"){ %>
                        <div class="signin" id="rzp-button1" onclick="registerForEvent1('<%= eventName %>')" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px;">
                            <%= register %>
                        </div>
                    <% }else{ %>
                        <div class="signin" disabled id="rzp-button1" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                            <%= register %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p style="font-size: 16px;">© Copyright TheEvent. All Rights Reserved | Designed by A|M|D</p>
    </footer>

<script src="/js/departmentPage.js">
</script>
<script>
    function registerForEvent1(eventName){
        var result = confirm("Are you sure you want to proceed?"); // Display the warning alert box
        if (result) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/theevent/user/successpayment/"+eventName);
            document.body.appendChild(form);
            form.submit();
        } else {
            return;
        }
    }

    function registerForEvent2(eventName){
        var result = confirm("Time clash found! Are you still want to proceed? If yes then press ok button."); // Display the warning alert box
        if (result) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/theevent/user/successpayment/"+eventName);
            document.body.appendChild(form);
            form.submit();
        } else {
            return;
        }
    }
</script>
</body>
</html>