<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.css">
    <link rel="stylesheet" href="/css/eventPage.css">

</head>
<body>

    <nav class="nav_container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo"/>
        </div>

        <ul class="nav_links" id="menuItem">
            <% if(locals.first_name){ %>
                <div class="profileImage mainProfile" onclick="toggleDropDown()" style="background-color: #F82249; border: 1px solid #F82249; padding-left: 8px; padding-right: 8px; border-radius: 50%;  cursor: pointer;">
                    <i class="fa fa-user" style="font-size: 18px;"></i>
                </div>

                <div id="dropdownList" class="dropdown-content" style="display: flex; flex-direction: column; align-items: center; background-color: #F82249; border-radius: 5px; display: none; width: 160px; position: absolute; right: 10px; top: 70px;">
                    <p style="text-align: center;cursor: pointer; padding: 5px 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #1993de;">Hello <%= first_name %></p>
                    <hr width="100%" color="black" style="opacity: 0.2;">
                    <p id="option1" style="text-align: center;cursor: pointer; padding: 5px 5px; " onclick="your_events()">Your Events</p>
                    <hr width="100%" color="black" style="opacity: 0.2;">
                    <p id="option2" style="cursor: pointer; padding: 5px 5px; width: 100%; text-align: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" onclick="document.location='/theevent/user/logout'">Logout</p>
                  </div> 
                <% }else{ %>
            <li><a href="/theevent/user/registration" class="signup">Sign Up</a></li>
            <li><a href="/theevent/user/login" class="signin">Sign In</a></li>
            <%}%>
        </ul>
        
        <div class="menu_item" id="menu_item" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
    </nav>


    <section class="eventPage">
        <h1 style="font-size: 40px;"><%= eventName %></h1>
        <h2 style="font-size: 20px;"><%= eventTagline %></h2>
        <hr width="5%" size="5px" color="red" style="margin: auto; margin-top: 15px; margin-bottom: 15px;">

        <div class="details">
            <div style="height: 400px;" class="imgEvent"><img src="/img/events/<%= eventFlyer %>" alt="eventPicture" style="height: 100%; width: 100%;"></div>

            <div style="text-align: left;" class="writtenDetails"> 
                <h1 style="height: 25px; margin-bottom: 20px;">Details</h1>
                <p style="height: 300px; overflow-y: scroll; text-align: justify; padding-right: 20px; white-space: pre-line;"><%= eventDescription %>
                <br> <span style="font-weight: 700;">Venue:</span> <%= eventVenue %>
                <br> <span style="font-weight: 700;">Date:</span> <%= eventDate %>
                <br> <span style="font-weight: 700;">Time:</span> From <%= eventStartTime %> To <%= eventEndTime %>
                <br> <span style="font-weight: 700;">Registration Fees:</span> Rs.  <%= registrationFees %>
                <br> <span style="font-weight: 700;">Maximum limit of attendees:</span> <%= attendeesCapacity %></p>

                <% if(locals.locked){ %>
                    <div class="signin" onclick="lockedProfile()" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                        <%= register %>
                    </div>
                    <% }else{ %>

                <% if(locals.closedRegistration){ %>

                    <div class="signin" onclick="closedRegistration()" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                        <%= register %>
                    </div>

                <% }else{ %>

                <% if(locals.MaxAttendeesReached){ %>
                    <div class="signin" onclick="maxAttendeesReached()" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                        <%= register %>
                    </div>
                <% }else{ %>
                <% if(locals.clashWarning){ %>
                <% if(locals.register == "Register"){ %>
                    <div class="signin" id="rzp-button1" onclick="registerForEvent2('<%= eventName %>')" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px;">
                        <%= register %>
                    </div>
                <% }else{ %>
                    <div class="signin" disabled id="rzp-button1" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                        <%= register %>
                    </div>
                <% } %>
                <% }else{ %>
                    <% if(locals.register == "Register"){ %>
                        <div class="signin" id="rzp-button1" onclick="registerForEvent1('<%= eventName %>')" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: auto; margin-top: 25px;">
                            <%= register %>
                        </div>
                    <% }else{ %>
                        <div class="signin" disabled id="rzp-button1" style="width: 135px; height: 35px; display: flex; justify-content: center; align-items: center; margin: auto; margin-top: 25px; opacity: 0.6; cursor: not-allowed;">
                            <%= register %>
                        </div>
                    <% } %>
                <% }}}} %>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p style="font-size: 16px;">© Copyright TheEvent. All Rights Reserved | Designed by A|M|D</p>
    </footer>

<script src="/js/departmentPage.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.js"></script>
<script>

    function maxAttendeesReached(){
        Toastify({
            text: "Apologies, but we've reached the maximum number of attendees for this event. Keep an eye out for future opportunities!",
            duration: 5000, // Duration in milliseconds
            gravity: "top", // Position of the toast
            position: "right", // Alignment within the position
            backgroundColor: "linear-gradient(to right, #ff9a00, #ff4e00)" // Background color
        }).showToast(); // Show the toast
        return;
    }
    function registerForEvent1(eventName){
        var result = confirm("Are you sure you want to proceed?"); // Display the warning alert box
        if (result) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/theevent/user/successpayment/"+eventName);
            document.body.appendChild(form);
            form.submit();
        } else {
            return;
        }
    }

    function registerForEvent2(eventName){
        clashesEventsName = '<%= clashesEventsName %>';
        var result = confirm("Time clash found in such event(s): " + clashesEventsName + "\nAre you still want to proceed? If yes then press ok button."); // Display the warning alert box
        if (result) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/theevent/user/successpayment/"+eventName);
            document.body.appendChild(form);
            form.submit();
        } else {
            return;
        }
    }


    function toggleDropDown(){
        if(document.getElementById("dropdownList").style.display == "none"){
            document.getElementById("dropdownList").style.display = "block";
        }
        else{
            document.getElementById("dropdownList").style.display = "none";
        }
    }

    function your_events(){
        var form_req = document.createElement("form");
        form_req.setAttribute("method", "post");
        form_req.setAttribute("action", "/theevent/user/registeredevents");

        document.body.appendChild(form_req);
        form_req.submit();
    }

    function closedRegistration(){
        Toastify({
                    text: "Oh, Registration for '<%= eventName %>' has been closed!",
                    duration: 5000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "linear-gradient(to right, #ff9a00, #ff4e00)"
                }).showToast();
        return;
    }

    function lockedProfile(){
        Toastify({
                    text: "Your profile is locked. Please contact your faculty to unlock it!",
                    duration: 5000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "linear-gradient(to right, #ff9a00, #ff4e00)"
                }).showToast();
        return;
    }
</script>
</body>
</html>