<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/facultyDashboard.css">

</head>
<body>
    <div class="container" style="display: flex; justify-content: center;">
        <div onclick="toggleMenu()" id="menuBtn" style="cursor: pointer; position: absolute; left: 25px; top: 25px;">
            <i class="fa fa-bars" style="font-size: 30px;"></i>
        </div>
        <div class="panel" id="panel" style="position: fixed; display: none; opacity: 0; left: 0; transition: opacity 1s;">
            <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1;">
            <div style="display: flex; align-items: center; margin-top: 20px;">
                <i class="fa fa-user" style="font-size: 20px;"></i>
                <h4 style="margin-left: 5px;"><%= facultyName %></h4>
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/')" style="background-color: white; color: black;">
                Dashboard
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_coordinator')">
                Add/Edit/Delete Coordinator
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_event')">
                Add/Edit/Delete Event
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/eventstatistics')">
                Event Statistics
            </div>
        </div>

        <div class="logout" style="margin-bottom: 30px;" onclick="openSlider(this, '/logout')">
            Logout
        </div>
    </div>
        </div>

        <div class="dashboard">
            <div style="display: flex; justify-content: space-between; padding: 20px;">
                <div style="font-size: 25px; font-weight: 400; text-align: center; border: 1px solid black; padding: 15px; border-radius: 5px; background-color: rgba(228, 253, 253, 0.679);">
                    <p>Total Number of Registrations</p>
                    <p><%= userOriginalID.length %></p>
                </div>

                <div style="font-size: 25px; font-weight: 400; text-align: center;  border: 1px solid black; padding: 15px; border-radius: 5px; background-color: rgba(228, 253, 253, 0.679);">
                    <p>Number of Locked Profiles</p>
                    <p><%= lockedProfiles.length %></p>
                </div>

                <div style="font-size: 25px; font-weight: 400; text-align: center;  border: 1px solid black; padding: 15px; border-radius: 5px; background-color: rgba(228, 253, 253, 0.679);">
                    <p>Number of Unlocked Profiles</p>
                    <p><%= userOriginalID.length - lockedProfiles.length %></p>
                </div>
            </div>
            <hr>

            <div style="padding-left: 5px;">
            <div>
                <p style="font-weight: 600; font-size: 20px;">Participants:</p>

                <div style="width: 1280px; overflow-x: scroll;">
                

                    <table border="1" style="border-collapse: collapse;">


                        <tr>
                            <th style="padding: 15px;">#</th>
                            <th style="padding: 15px;">Name</th>
                            <th style="padding: 15px;">Email</th>
                            <th style="padding: 15px;">Phone</th>
                            <th style="padding: 15px;">Gender</th>
                            <th style="padding: 15px;">Department</th>
                            <th style="padding: 15px;">Year</th>
                            <th style="padding: 15px;">Enrollment No</th>
                            <th style="padding: 15px;">Action</th>
                        </tr>

                        <% for(i=0; i< userOriginalID.length; i++){ %>
    
                            <tr style="text-align: center;">
                                <td style="padding: 15px;"><%= i + 1 %></td>
                                <td style="padding: 15px;"><%= userName[i] %></td>
                                <td style="padding: 15px;"><%= userEmail[i] %></td>
                                <td style="padding: 15px;"><%= userPhone[i] %></td>
                                <td style="padding: 15px;"><%= userGender[i] %></td>
                                <% dateString = userDOB[i].split("-");
                                %>
                                <!-- <td style="padding: 15px;"><%#= dateString[2] + "/" + dateString[1] + "/" + dateString[0] %></td> -->
                                <td style="padding: 15px;"><%= userDepartment[i] %></td>
                                <td style="padding: 15px;"><%= userYear[i] %></td>
                                <td style="padding: 15px;"><%= userEnroll[i] %></td>
                                <td style="padding: 15px;">
                                    <% if(lockedProfiles.includes(userOriginalID[i])){ %>
                                        <div style="width: 70px; height: 25px; background-color: red; color: white; text-align: center; border-radius: 5px; cursor: not-allowed; opacity: 0.5;" onclick="lockedProfile('<%= userOriginalID[i] %>')">
                                            Locked
                                        </div>
                                        <div style="width: 90px; height: 25px; background-color: rgb(13, 134, 81); color: white; text-align: center; border-radius: 5px; margin-top: 3px; cursor: pointer;" onclick="unLockedProfile('<%= userOriginalID[i] %>')">
                                            Unlock
                                        </div>
                                        <% }else{ %>
                                            <div style="width: 70px; height: 25px; background-color: red; color: white; text-align: center; border-radius: 5px; cursor: pointer;" onclick="lockedProfile('<%= userOriginalID[i] %>')">
                                                Lock
                                            </div>
                                            <div style="width: 90px; height: 25px; background-color: rgb(13, 134, 81); color: white; text-align: center; border-radius: 5px; margin-top: 3px; cursor: not-allowed; opacity: 0.5;" onclick="unLockedProfile('<%= userOriginalID[i] %>')">
                                                Unlocked
                                            </div>
                                        <% } %>
                            </td>
                            </tr>
        
                            <% } %>
                    </table>

            </div>
            </div>
        </div>
    </div>

    <script>
        function openSlider(element,path){
            
            var anotherSliderNav = document.getElementsByClassName("sliderNav");
            for(var i=0; i<anotherSliderNav.length; i++){
                anotherSliderNav[i].style.backgroundColor = "#202123";
                anotherSliderNav[i].style.color ="white";
            }

            element.style.backgroundColor ="white";
            element.style.color ="black";
            
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/theevent/faculty"+path;
            var hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.name = 'key';
            hiddenInput.value = 'value';
            form.appendChild(hiddenInput);
            document.body.appendChild(form);
            form.submit();
        }

        function toggleMenu(){
            var panel = document.getElementById("panel");
            if (panel.style.opacity === "1") {
                panel.style.opacity = "0";
                setTimeout(function() {
                    panel.style.display = "none";
                }, 1000); // Match the transition duration
            } else {
                panel.style.display = "block";
                setTimeout(function() {
                    panel.style.opacity = "1";
                }, 100); // Start transition with a slight delay
            }
        }

        function lockedProfile(user_id){
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/theevent/faculty/lockedProfile/"+user_id;
            document.body.appendChild(form);
            form.submit();
        }

        function unLockedProfile(user_id){
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/theevent/faculty/unLockedProfile/"+user_id;
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>