<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.css">
    <link rel="stylesheet" href="/css/facultyDashboard.css">

    <style>
        #edit {
            cursor: pointer;
            font-size: 30px;
            border: 3px solid white;
            padding: 15px;
            border-radius: 50%;
            background-color: #0D6EFD;
            color: white;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 40px;
            right: 40px;
            transition: background-color 0.5s ease;
        }

        #edit:hover {
            background-color: #F82249;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.js"></script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script>
        UPLOADCARE_PUBLIC_KEY = '<%=upload_care_public_key%>';
    </script>
</head>
<body>

    <% if(locals.eventData){ %>
        <script>
            Toastify({
                    text: "Event '<%= eventData %>' added successfully!",
                    duration: 5000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
                }).showToast();
        </script>
    <% } %>

    <div class="container" style="display: flex; justify-content: center;">
        <div onclick="toggleMenu()" id="menuBtn" style="cursor: pointer; position: absolute; left: 25px; top: 25px;">
            <i class="fa fa-bars" style="font-size: 30px;"></i>
        </div>
        <div class="panel" id="panel" style="position: fixed; z-index: 1;display: none; left: 0; opacity: 0; transition: opacity 1s; position: fixed;">
            <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1;">
            <div style="display: flex; align-items: center; margin-top: 20px;">
                <i class="fa fa-user" style="font-size: 20px;"></i>
                <h4 style="margin-left: 5px;"><%= facultyName %></h4>
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/')">
                Dashboard
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_coordinator')">
                Add/Edit/Delete Coordinator
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_event')"  style="background-color: white; color: black;">
                Add/Edit/Delete Event
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/eventstatistics')">
                Event Statistics
            </div>
        </div>

        <div class="logout" style="margin-bottom: 30px;" onclick="openSlider(this, '/logout')">
            Logout
        </div>
    </div>
        </div>

        <div class="content" style="display: flex; margin: auto; align-items: center; flex-direction: column;">
            <h1>Add Event</h1>
            <div class="centerFormEvent" style="width: 1200px; height: 670px; background-color: #F8F8FF; border: 1px solid black; border-radius: 5px; filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));">
                <form id="eventForm" action="/theevent/faculty/manage_event/" method="post" style="width: 100%; height: 100%;" enctype="multipart/form-data">
                    <div style="width: 100%; height: 100%; padding-left: 25px; padding-top: 45px;">
                        <div style="display: flex; gap: 50px;">
                        <div>
                        <p style="font-size: 16px;">Event Name</p>
                        <input type="text" name="eventName" placeholder="Enter Event Name" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                        </div>
                        <div>
                        <p style="font-size: 16px;">Event Tagline</p>
                        <input type="text" name="eventTagline" placeholder="Enter Event Tagline" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                        </div>
                        </div>
                        <div style="display: flex; gap: 50px; margin-top: 20px;">
                        <div>
                        <p style="font-size: 16px;">Event Description</p>
                        <textarea  name="eventDescription"  placeholder="Enter Event Description" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px; padding-top: 10px;resize: none;"  required></textarea>
                        </div>
                        <div>
                        <p style="font-size: 16px;">Event Venue</p>
                        <input type="text" name="eventVenue" placeholder="Enter Event Venue" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                        </div>
                        </div>
                        <div style="display: flex; gap: 50px; margin-top: 20px;">
                        <div>
                            <p style="font-size: 16px;">Number of Coordinators</p>
                            <input type="number" placeholder="Enter Number of Coordinators" name="numberOfCoordinators" min="0" max="4" style="border: 1px solid black; border-radius: 2px; font-size: 16px; padding: 10px; background-color: white; width: 550px;" required>
                            </div>
                            <div>
                                <p style="font-size: 16px;">Event Date</p>
                                <input type="date" name="eventDate" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                            </div>
                        </div>
                        <div style="display: flex; gap: 50px; margin-top: 20px;">
                            <div>
                                <p style="font-size: 16px;">Event Time(From)</p>
                                <!-- <input type="time" name="eventStartTime" step="60" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required> -->
                                <select name="startHour" id="startHour" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select hour">select hour</option>
                                    <% for(i=1;i<=12;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>

                                <select name="startMinute" id="startMinute" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select minute">select minute</option>
                                    <% for(i=0;i<=59;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>

                                <select name="startPeriod" id="startPeriod" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select period">select period</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                </div>
                            <div>
                                <p style="font-size: 16px;">Event Time(To)</p>
                                <select name="endHour" id="endHour" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select hour">select hour</option>
                                    <% for(i=1;i<=12;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>

                                <select name="endMinute" id="endMinute" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select minute">select minute</option>
                                    <% for(i=0;i<=59;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>

                                <select name="endPeriod" id="endPeriod" style="width: 180px; height: 45px; font-size: 16px; border-radius: 2px; padding-left: 8px; border: 1px solid black;" required>
                                    <option disabled selected value="select period">select period</option>
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                                </div>
                            </div>
                            <div style="display: flex; gap: 50px; margin-top: 20px;">
                                <div>
                                    <p style="font-size: 16px;">Registration Fees</p>
                                    <input type="text" name="registrationFees" placeholder="Enter Registration Fees" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                                </div>
                                <div>
                                    <p style="font-size: 16px;">Capacity</p>
                                    <input type="number" name="attendeesCapacity" placeholder="Enter Number of Attendees allowed" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                                </div>
                            </div>
                            <div style="display: flex; gap: 90px; margin-top: 20px;">
                                <div>
                                    <p style="font-size: 16px;">Upload Icon</p>
                                    <input type="hidden" role="uploadcare-uploader" name="eventIcon"/>
                                </div>
                                <div>
                                <p style="font-size: 16px;">Upload Flyer</p>
                                <input type="hidden" role="uploadcare-uploader" name="eventFlyer"/>
                            </div>
                                </div>
                        <div style="display: flex; justify-content: center; margin-top: 40px;">
                            <input type="submit" value="Add" style="border: 1px solid #0D6EFD; border-radius: 5px;background-color: #0D6EFD; color: white; padding: 10px; font-size: 20px; width: 125px; cursor: pointer;">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <i class="fa fa-pencil" id="edit" onclick="manageEvent()"></i>

    <script>
        function openSlider(element,path){
            
            var anotherSliderNav = document.getElementsByClassName("sliderNav");
            for(var i=0; i<anotherSliderNav.length; i++){
                anotherSliderNav[i].style.backgroundColor = "#202123";
                anotherSliderNav[i].style.color ="white";
            }

            element.style.backgroundColor ="white";
            element.style.color ="black";
            
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/theevent/faculty"+path;
            var hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.name = 'key';
            hiddenInput.value = 'value';
            form.appendChild(hiddenInput);
            document.body.appendChild(form);
            form.submit();
        }

        function toggleMenu(){
            var panel = document.getElementById("panel");
            if (panel.style.opacity === "1") {
                panel.style.opacity = "0";
                setTimeout(function() {
                    panel.style.display = "none";
                }, 1000); // Match the transition duration
            } else {
                panel.style.display = "block";
                setTimeout(function() {
                    panel.style.opacity = "1";
                }, 100); // Start transition with a slight delay
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
        document.getElementById("eventForm").addEventListener("submit", function(e){
            e.preventDefault();
            var error=0;

            if(document.getElementById("startHour").value=="select hour"){
                document.getElementById("startHour").style.border = "1px solid red";
                document.getElementById("startHour").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("startHour").style.border = "1px solid black";
                document.getElementById("startHour").style.backgroundColor = "white";
                error=0;
            }

            if(document.getElementById("startMinute").value=="select minute"){
                document.getElementById("startMinute").style.border = "1px solid red";
                document.getElementById("startMinute").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("startMinute").style.border = "1px solid black";
                document.getElementById("startMinute").style.backgroundColor = "white";
                error=0;
            }

            if(document.getElementById("startPeriod").value=="select period"){
                document.getElementById("startPeriod").style.border = "1px solid red";
                document.getElementById("startPeriod").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("startPeriod").style.border = "1px solid black";
                document.getElementById("startPeriod").style.backgroundColor = "white";
                error=0;
            }

            if(document.getElementById("endHour").value=="select hour"){
                document.getElementById("endHour").style.border = "1px solid red";
                document.getElementById("endHour").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("endHour").style.border = "1px solid black";
                document.getElementById("endHour").style.backgroundColor = "white";
                error=0;
            }

            if(document.getElementById("endMinute").value=="select minute"){
                document.getElementById("endMinute").style.border = "1px solid red";
                document.getElementById("endMinute").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("endMinute").style.border = "1px solid black";
                document.getElementById("endMinute").style.backgroundColor = "white";
                error=0;
            }

            if(document.getElementById("endPeriod").value=="select period"){
                document.getElementById("endPeriod").style.border = "1px solid red";
                document.getElementById("endPeriod").style.backgroundColor = "#f8d7da";
                error=1;
                return;
            }else{
                document.getElementById("endPeriod").style.border = "1px solid black";
                document.getElementById("endPeriod").style.backgroundColor = "white";
                error=0;
            }

            if(error==0){
                document.getElementById("eventForm").submit();
            }
        });
    });

    function manageEvent(){
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/theevent/faculty/manage_event/edit";
            document.body.appendChild(form);
            form.submit();
        }

    </script>
</body>
</html>