<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.css">
    <link rel="stylesheet" href="/css/eventPage.css">

    <style>
        /* CSS styles */
        #tableDiv{
            width: 70%;
            display: flex;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          color: black;
          margin-left: 20px;
          margin-right: 20px;
        }
    
        th, td {
          border: 1px solid #000000;
          text-align: left;
          padding: 8px;
        }
    
        th {
          background-color: #F82249; /* Light gray */
          color: white;
        }

        tr:hover{
          background-color: #1993de43;
        }

        @media(max-width:463px){
            #tableDiv{
                overflow-x: scroll;
            }
        }
      </style>
</head>
<body>

    <nav class="nav_container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo"/>
        </div>

        <ul class="nav_links" id="menuItem">
            <% if(locals.first_name){ %>
                <div class="profileImage mainProfile" onclick="toggleDropDown()" style="background-color: #F82249; border: 1px solid #F82249; padding-left: 8px; padding-right: 8px; border-radius: 50%;  cursor: pointer;">
                    <i class="fa fa-user" style="font-size: 18px;"></i>
                </div>

                <div id="dropdownList" class="dropdown-content" style="display: flex; flex-direction: column; align-items: center; background-color: #F82249; border-radius: 5px; display: none; width: 160px; position: absolute; right: 10px; top: 70px;">
                    <p style="text-align: center;cursor: pointer; padding: 5px 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #1993de;">Hello <%= first_name %></p>
                    
                    <hr width="100%" color="black" style="opacity: 0.2;">
                    <p id="option2" style="cursor: pointer; padding: 5px 5px; width: 100%; text-align: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" onclick="document.location='/theevent/user/logout'">Logout</p>
                  </div> 
                <% }else{ %>
            <li><a href="/theevent/user/registration" class="signup">Sign Up</a></li>
            <li><a href="/theevent/user/login" class="signin">Sign In</a></li>
            <%}%>
        </ul>
        
        <div class="menu_item" id="menu_item" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
    </nav>


    <% if(registered){ %>
    <div style="flex: 1;">
    <div style="width: 100%; margin-top: 70px;" id="tableDiv">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Department</th>
                <th>More Details</th>
              </tr>
            </thead>
            <tbody>
              <% for(i=0; i<name.length; i++){ %>
              <tr>
                <td><%= name[i] %></td>
                <td><%= venue[i] %></td>
                <td><%= date[i] %></td>
                <td><%= time[i] %></td>
                <td><%= department[i] %></td>
                <td> <button style="background-color: #1993de; padding: 5px; border: 1px solid #1993de; border-radius: 5px; color: white; width: 100px; font-size: 16px; font-weight: 400; cursor: pointer;" onclick="document.location='/theevent/user/event/<%= name[i] %>'">View</button></td>
              </tr>
              <% } %>
            </tbody>
          </table>
    </div>
    <div>
    </div>
</div>

<% }else{ %>
    <div style="display: flex; justify-content: center; align-items: center; flex: 1; color: black;">
        <p style="font-size: 28px;">------------ You had not registered any event! ------------</p>
    </div>
    <% } %>

    <footer class="footer">
        <p style="font-size: 16px;">© Copyright TheEvent. All Rights Reserved | Designed by A|M|D</p>
    </footer>


    <script>
        function toggleDropDown(){
        if(document.getElementById("dropdownList").style.display == "none"){
            document.getElementById("dropdownList").style.display = "block";
        }
        else{
            document.getElementById("dropdownList").style.display = "none";
        }
    }
    </script>
    </body>
    </html>